.sys-datepicker {background-color: #fff; box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.1); height: 300px; position: relative; border: 1px solid #f0f0f0;}
.sys-datepicker-content {width: 100%; height: 100%; overflow: hidden;}
.sys-datepicker-body {overflow: scroll; -webkit-overflow-scrolling: touch; position: relative; height: 100%; clear: left; width: calc(100% + 15px); will-change: transform;}
.sys-datepicker-day, .sys-datepicker-days-dow, .sys-datepicker-placeholder { float: left;text-align: center;}
.sys-datepicker-day, .sys-datepicker-placeholder {cursor: pointer; margin: 2.5px; width: 30px; line-height: 24px;}
.sys-datepicker-days-dow {width: 30px; margin: 2.5px;}
.sys-datepicker-day-weekend {color: #999;}
.sys-datepicker-days { clear: left; float: left; font-size: .8rem; padding-top: 5px;padding-bottom: 5px;}
.sys-datepicker-month {width: 250px;clear: left;float: left;padding: 0 2.5px;}
.sys-datepicker-month-header {padding: 0 2.5px;text-transform: uppercase;font-size: 0.8em; font-weight: 700; border-top:1px solid #ccc;}
.sys-datepicker-year {clear: left;float: left;}
.sys-datepicker-buttons {box-sizing: border-box;text-align: justify;height: 25px;padding: 2px 10px;background: #ccc;}
.sys-datepicker-buttons:after {content: "";width: 100%;display: inline-block;}
.sys-datepicker-button {display: inline-block;min-width: 20px;background: #ccc;cursor: pointer;font-size: .8rem;line-height: 1.4;text-align: center}
.sys-datepicker-button + .sys-datepicker-button {margin-left: 10px;}
.sys-datepicker-button-today { padding-left: 5px; padding-right: 5px; text-transform: uppercase}
.sys-datepicker-day-selected {background: #ccc;color: #000;}
.sys-datepicker-hover {background: #000; color: #fff;}
.sys-datepicker-day.current{background: #C93448;color: #FFF;}
.sys-datepicker-day-today, .sys-datepicker-day-today.current {background: #fdff90;color: #000;}
@media (prefers-color-scheme: dark) {
.sys-datepicker { background-color: #222; border-color: #444; color: #eee;}
.sys-datepicker-month-header { border-top-color: #555; color: #ddd;}
.sys-datepicker-day, .sys-datepicker-placeholder { color: #ccc;}
.sys-datepicker-day-weekend {color: #999;}
.sys-datepicker-day-today, .sys-datepicker-day-today.current { background: #ffc107; color: #000;}
.sys-datepicker-day.current { background: #c93448; color: #fff;}
}
